<ul class="nav flex-column" [dragula]='"nested-art"' [dragulaModel]='list' data-id="root_{{root}}">
  <li class="nav-item" *ngFor="let el of list | sort:'lft'" data-id="art_{{el.id}}">
    <a class="nav-link btn btn-default btn-sm btn-lg node" [ngClass]="{'no-child': !el.is_child}">
      <div class="row">
        <div class="col-xs-1" [ngClass]="{'no-padding':root==0||!el.is_child}">
          <div class="cursor"
               *ngIf="root>0"
               (click)="el.openChildren()">
            <i *ngIf="el.is_child"
               class="fa fa-xs"
               [ngClass]="{'fa-chevron-down':!el.show_children, 'fa-chevron-up':el.show_children}"></i>
          </div>
        </div>
        <div class="col-xs-10 title-article">
          <span>{{ el.title }}</span>
        </div>
        <div class="col-xs-1" style="padding: 0 15px 0 0; text-align: right;">
          <div ngbDropdown class="d-inline-block" *ngIf="!el.loader">
            <div class="cursor" id="dropdownBasic1" ngbDropdownToggle>
              <i class="fa fa-bars fa-sm secondar"></i>
            </div>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item secondary cursor"
                      *ngIf="root>0"
                      (click)="editElement(el)"><i class="fa-edit fa fa-xs secondary"></i> Редактировать
              </button>
              <button class="dropdown-item secondary cursor" (click)="createChild(el)"><i
                class="fa-plus-square-o fa fa-xs secondary"></i> Создать
              </button>
              <button class="dropdown-item secondary cursor"
                      *ngIf="root>0"
                      (click)="deleteEl(el)"><i class="fa-minus-square-o fa fa-xs secondary"></i> Удалить
              </button>
            </div>
          </div>
          <div class="dropdown_arr_wrap zema-loader" *ngIf="el.loader"></div>
        </div>
      </div>
    </a>
    <div *ngIf="el.show_children">
      <app-element [root]="el.id"></app-element>
    </div>
  </li>
</ul>
